<div class="row">
  <form name="myForm">
    <div class="input-group">
      <span class="input-group-addon">Title</span>
      <input type="text" name="title" class="form-control" placeholder="Enter the title">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">Question</span>
      <input type="text" name="question" class="form-control"placeholder="Enter a question">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">Answer</span>
      <input type="text" name="answer" class="form-control" placeholder="Enter the answer">
    </div>
  </form>
</div>

<!-- <div class="row">
  <form name="myForm">
    <div class="control-group input-group" ng-class="{error: myForm.name.$invalid}">
      <span class="input-group-addon">@</span>
      <input class="form-control" type="text" name="name" ng-model="project.name" required>
      <span ng-show="myForm.name.$error.required" class="help-inline">
          Required</span>
    </div>
   
    <div class="control-group input-group input-group-lg" ng-class="{error: myForm.site.$invalid}">
      <span class="input-group-addon">@</span>
      <input class="form-control" type="url" name="site" ng-model="project.site" required>
      <span ng-show="myForm.site.$error.required" class="help-inline">
          Required</span>
      <span ng-show="myForm.site.$error.url" class="help-inline">
          Not a URL</span>
    </div>
   
    <label>Description</label>
    <textarea name="description" ng-model="project.description"></textarea>
   
    <br>
    <a href="#/" class="btn">Cancel</a>
    <button ng-click="save()" ng-disabled="myForm.$invalid"
            class="btn btn-primary">Save</button>
    <button ng-click="destroy()"
            ng-show="project.$remove" class="btn btn-danger">Delete</button>
  </form>
</div> -->