<div class="row" style="">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" src="https://identicons.github.com/a99c08621e30960e4d4d1f612b4b85fc.png" alt="...">
      <div class="caption">
        <h3>{{ name }}</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
    <div class="panel panel-info" style="float:right; width:65%">
      <div class="panel-heading">
        <h3 class="panel-title">Activity Feed</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
</div>